{% extends 'base.html' %}
{% block context %}
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
 
{% endif %}
<form method="post" action=" ">
  {% csrf_token %}
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="username" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="password">

    <button type="submit">Log In</button>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>

{% endblock context %}

